/*Small Screens Settings Start */


/* @media screen and (min-width: 200px) and (max-width: 640px) {
    .container {
        width: 100%;
        margin: 0 0.5rem;
        gap: 1rem;
    }
    .navbar {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: #ffffff;
        flex-direction: column;
        width: 100%;
        order: 1;
        padding: 0.5rem;
    }
    .navbar img {
        margin: 0;
        max-width: 200px;
    }
    .mob-container {
        display: block;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }
    header img {
        margin-top: 0.5rem;
    }
    .navbar-links {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5rem;
        display: none;
    }
    .navbar-links a {
        font-size: 1.1rem;
        padding: 0;
        font-weight: 400;
    }
    .navbar-links.active-burger {
        display: flex;
    }
    .social {
        width: 100%;
        height: auto;
        padding: 0.1rem;
        flex-direction: column-reverse;
    }
    .social h1 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: #ffeb3b;
    }
    .social p {
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
    }
    .social div {
        padding: 0.5rem;
    }
    .services {
        flex-direction: column;
        padding: 0.2rem;
    }
    .help {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
        margin-top: 2.5rem;
        color: #ffffff;
    }
    .help p {
        margin-top: 0.5rem;
    }
    .about .statment {
        justify-content: center;
        align-items: center;
    }
    .cards {
        width: 100%;
        flex-direction: column;
    }
    .card img {
        max-width: 100%;
        max-height: 100%;
    }
    .socialmedia {
        width: 100%;
        font-size: 1rem;
        justify-content: space-around;
        order: 5;
        padding: 0 2rem;
    }
    .phone {
        order: 1;
        width: 100%;
    }
    .mail {
        order: 2;
        width: 100%;
    }
    .contact h3 {
        font-size: 0.8rem;
    }
    .contact p {
        order: 6;
        width: 100%;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }
} */


/* @media screen and (min-width: 641px) and (max-width: 1008px) {
    .container {
        width: 100%;
        margin: 0 0.5rem;
    }
    .cards {
        flex-direction: column;
    }
    .navbar {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: #ffffff;
        flex-direction: column;
        width: 100%;
        order: 1;
        padding: 1.5rem;
        overflow-y: hidden;
    }
    .navbar img {
        margin: 0;
        max-width: 8rem;
    }
    .mob-container {
        display: block;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }
    .navbar-links {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5rem;
        display: none;
    }
    .navbar-links a {
        font-size: 1.1rem;
        padding: 0;
        font-weight: 400;
    }
    .navbar-links.active-burger {
        display: flex;
    }
    .social {
        width: 100%;
        height: auto;
        padding: 0.1rem;
        flex-direction: column-reverse;
    }
    .social h1 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: #ffeb3b;
    }
    .social p {
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
    }
    .social div {
        padding: 0.5rem;
    }
    .services {
        flex-direction: column;
        padding: 0.2rem;
    }
    .help {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
        margin-top: 2.5rem;
        color: #ffffff;
    }
    .help p {
        margin-top: 0.5rem;
    }
    .about .statment {
        justify-content: center;
        align-items: center;
    }
} */


/* @media screen and (min-width: 1009px) and (max-width: 1500px) {
    .container {
        width: 90%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
    }
    .navbar {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: #ffffff;
        flex-direction: column;
        width: 100%;
        order: 1;
        padding: 0.5rem;
        overflow-y: hidden;
    }
    .navbar-links {
        position: absolute;
        top: 0;
        right: 0.5rem;
    }
} */