<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Tajawal:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./ramadan.css">
</head>

<body>
    <div class="page">
        <div id="moon" class="fade-in"></div>
        <div id="main-star" class="fade-in">
            <div class="star-five rotating"></div>
        </div>
        <div class="constellations">
            <div class="constellation rotating-slow">
                <div class="baby-star">
                    <div class="star-five rotating"></div>
                </div>
                <div class="baby-star">
                    <div class="star-five rotating"></div>
                </div>
                <div class="baby-star">
                    <div class="star-five rotating"></div>
                </div>
                <div class="baby-star">
                    <div class="star-five rotating"></div>
                </div>
            </div>
            <div id="angled">
                <div class="constellation rotating-slow">
                    <div class="baby-star">
                        <div class="star-five rotating"></div>
                    </div>
                    <div class="baby-star">
                        <div class="star-five rotating"></div>
                    </div>
                    <div class="baby-star">
                        <div class="star-five rotating"></div>
                    </div>
                    <div class="baby-star">
                        <div class="star-five rotating"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text slide-up" dir="rtl" lang="ar">مُبَارَكٌ عَلَيْكُمْ الشَّهْرِ الْكَرِيمِ .
        </div>
    </div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</body>